strong,em {
	text-shadow: 1px 1px 3px black;
}
a[href="https://developer.mozilla.org/zh-CN/docs/Learn/Getting_started_with_the_web/HTML_basics#%E5%9B%BE%E5%83%8F"]{
	color: blue;
}
html{
	background-color: #979090;
}
h1 {
	font-size: 30px;
	text-align: center;
}
body {
	width: 650px;
	margin: 10px auto;
	background-color: #686363;
	padding: 0 20px 20px 20px;
	border: 3px solid black;
}h1 {
	margin: 0;
	padding: 20px 0;
	color: #979090;
	text-shadow: 3px 3px 1px black;
}
img {
	display: block;
	margin: 0 auto;
}